@import "tailwindcss";

@theme {
  --color-bg: rgb(36, 36, 36);
  --color-text: rgba(255, 255, 255, 0.87);
  --color-primary: rgb(100, 108, 255);
  --color-accent: #7C2D37;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}

a:hover {
  color: color-mix(in srgb, var(--color-accent) 80%, white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e5e5e5;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logout-button {
  background-color: transparent;
  color: rgb(228, 228, 228);   
  cursor: pointer;
  padding: 0.6em 1em;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  transition: border-color 0.25s, color 0.25s;
}

.logout-button:hover {
  color: white;
  background-color: var(--color-accent); /* effetto hover con colore accent */
  border-color: var(--color-accent);
}

.delete-button {
  background-color: #9d2636;
  color: rgb(228, 228, 228);   
  cursor: pointer;
  padding: 0.6em 1em;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  transition: border-color 0.25s, color 0.25s;
}

.delete-button:hover {
  color: white;
  background-color: var(--color-accent); /* effetto hover con colore accent */
  border-color: var(--color-accent);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}